<h1>User Stories</h1>

<p>As a visitor, I want to see other user's posts.</p>
<p>As a visitor, I want to click on a post to see more details.</p>
<p>As a visitor, I want to sign up for a free account.</p>
<p>As a user, I want to post with a title, image, description.</p>
<p>As a user, I want to edit my post.</p>
<p>As a user, I want to delete a post that I wrote.</p>
<p>As a user, I want to like/unlike posts.</p>

<h1>Business Rules</h1>

<p>Posts are stored in a database. Images are stored on AWS S3.</p>
<p>A post consists of an image, a title, and description.</p>
<p>Posting an item automatically adds it to your account page and the wall all users can see.</p>
<p>Passwords must be encrypted.</p>